@defaultFontFamily: "Arial Narrow", Arial, sans-serif;

.about p strong { color: #333333; font-size: 120%; }

.header { background: url(../img/logo.png) no-repeat center 60%; background-size: 35%; padding: 220px 0 0 0; }

.header .wrapper { padding-top: 50px; }

.header .logo-name { display: none; }

.tagline { margin: 0; color: #000; text-shadow: none; }

@media only screen and (max-width: 800px) {
	.header { background: url(../img/logo.png) no-repeat center center; background-size: 70%; padding: 200px 0 0 0; }
}

h3.speakers-name {
	text-transform: uppercase;
	font-weight: bold;
	font-family: @defaultFontFamily;
	font-size: 250%;
}

h3.speakers-name a {
	text-transform: none;
	font-size: 80%;
}

.speakers-company {
	text-transform: uppercase;
	font-weight: bold;
        margin-bottom: .5em;
}

.call-for-action {
	-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color:#f6b33d;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #eda933;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
        padding: 0 20px;
	line-height:40px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cd8a15;
}
.call-for-action:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
	background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
	background-color:#d29105;
}.call-for-action:active {
	position:relative;
	top:1px;
}

.content .call-for-action {
    color: #fff;
}

.content .call-for-action:hover {
    color: #fff;
    text-decoration: none;
}

.center-content {
    text-align: center;
}

.sponsors-banner-container {
    margin-top: 2em;
    position: relative;
}

.sponsors-banner {
    position: absolute;
    height: 100%;
    left: -25%;
    right: -25%;
    background: #f0a303;
}

.sponsors-list {
    padding-top: 2em;
}